# Your Telegram bot API token.
BOT_TOKEN=

# Your Deta project key.
DETA_PROJECT_KEY=

# The length of the progress bar in symbols.
BAR_LENGTH=20

# Target Telegram channel id.
CHANNEL_ID=

# If something goes wrong the script will send a debug message to this telegram chat.
# I recomment setting it to your own chat id.
# Leave blank if you don't want to get debug messages.
DEBUG_CHAT_ID=

# Name your data base.
DB_NAME=year-progress